{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class=" col col-md-8 col-md-offset-2 ">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">书籍名称</label>
                    <input type="text" class="form-control" id="title" name="book_title" value="{{ obj.title }}">
                </div>
                <div class="form-group">
                    <label for="price">价格</label>
                    <input type="number" class="form-control" id="price" value="{{ obj.price }}" name="book_price">
                </div>
                <div class="form-group">
                    <label for="date">出版日期</label>
                    <input type="date" class="form-control" id="date" value="{{ obj.publishDate|date:'Y-m-d' }}"
                           name="book_pub_date">
                </div>
                {#                <div class="form-group">#}
                {#                    <label for="publish">出版社</label>#}
                {#                    <input type="text" class="form-control" id="publish" value="{{ obj.publish_by }}" name="book_publish">#}
                {#                </div>#}
                <label for="publish">出版社</label>
                <select class="form-control" id='publish' name="book_publish">
                    {% for publish in publishs %}
                        <option>{{ publish.name }}</option>
                    {% endfor %}
                </select>
                <div>
                    <button class="btn btn-success pull-right">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>